h1{
	font-family: 'Roboto', sans-serif;
}

.menu {
	list-style:circle;
}

.justificacion {
	text-align: justify;
}

.h2{
	font-style: italic;
}

.xsmall{
	font-size: small;
}

.num{
	list-style: upper-roman;
}

.black{
	font-weight: 200;
}